# SMTP Configuration (for Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-de-app
EMAIL_TO=destinatario@email.com
EMAIL_FROM=seu-email@gmail.com

# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=5511999999999
